@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
  border-top: 8px solid #F7E066;
  border-bottom: 8px solid #F7E066;
  width: 100%;
  padding: 0.5em;
  color: #f5f8fa;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
}

.nav img {
  max-height: 50px;
}

.nav-link {
  color: #f5f8fa;
  text-decoration: none;
  padding: 0.3em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 0.2em;
}

.nav-link:hover {
  color: #ebc70c;
  border-bottom: 3px solid #F7E066;
}

.ammo-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
  border-top: 4px solid #F7E066;
  border-bottom: 4px solid #F7E066;
  width: 100%;
  padding: 0.3em;
  color: #faea96;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  height: 2.5em;
}

.cta {
  width: 90%;
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 0.7em;
  border-radius: 6px;
  max-width: 300px;
  font-weight: 700;
}

.btn {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  border-radius: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.btn-main {
  background-color: #4D7C9A;
  border: 2px solid #F7E066;
  color: #F7E066;
}

.btn-main:hover {
  background-color: #F7E066;
  border: 2px solid #4D7C9A;
  color: #4D7C9A;
}

.hero {
  min-height: 100vh;
  background-image: url("/img/FallArgBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero article {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(52, 73, 94, 0.85);
  height: 100vh;
  width: 100%;
}

.hero .hero-img {
  max-height: 200px;
  margin-bottom: 2em;
}

.hero .hero-text {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 2em;
}

