.ammo-nav
  display: flex
  align-items: center
  justify-content: flex-end
  background: $bg-stripes
  border-top: 4px solid $color-yellow
  border-bottom: 4px solid $color-yellow
  width: 100%
  padding: 0.3em
  color: lighten($color-yellow,10%)
  font-family: $font-default
  font-size: 1em
  font-weight: 700
  text-transform: uppercase
  height: 2.5em
