.ammo-nav
  position: sticky
  top: 80px
  display: flex
  align-items: center
  justify-content: flex-end
  background: $bg-stripes_main
  border-top: 4px solid $color-yellow
  border-bottom: 4px solid $color-yellow
  width: 100%
  padding: 0.3em
  color: lighten($color-yellow,10%)
  font-family: $font-default
  font-size: 1em
  font-weight: 700
  text-transform: uppercase
  height: 2.5em
  z-index: 899
.card-ammo
  text-align: center
  display: flex
  align-items: center
  justify-content: space-around
  flex-direction: column
  h3
    font-size: 2em
    text-transform: uppercase
    font-weight: 300
    margin-bottom: 1em
  h6
    font-size: 1.3em
    margin-bottom: 1em
  p
    font-size: 0.9em
    line-height: 1.2em
    margin-bottom: 1em
  img
    width: 100px
    height: 100px
    object-fit: cover
    background: $bg-stripes_alt
    border-radius: $border-rad