.hero
  min-height: 100vh
  background-image: url('/img/FallArgBG.png')
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  display: flex
  justify-content: center
  align-items: center
  article
    color: #ffffff
    display: flex
    justify-content: center
    flex-direction: column
    padding: 2em
    align-items: center
    background-color: rgba(52,73,94,0.85)
    height: 100vh
    width: 100%
  .hero-img
    max-height: 200px
    margin-bottom: 2em
  .hero-text
    font-size: 1.2em
    line-height: 1.4em
    font-weight: 700
    margin-bottom: 2em
    max-width: 50%