.nav-main
  position: fixed
  top: 0
  display: flex
  align-items: center
  justify-content: space-around
  background-color: $color-blue
  border-top: 4px solid $color-yellow
  border-bottom: 4px solid $color-yellow
  width: 100%
  padding: 1.2em
  color: $color-bg
  font-size: 1em
  font-weight: 700
  text-transform: uppercase
