
// Body
$body-bg: #f5f8fa;
$color-blue: #4D7C9A;
$color-yellow: #F7E066;

// Typography
$font-default: 'Raleway', sans-serif;
$font-title: 'IM Fell English SC', serif;
$font-card: 'Josefin Sans', sans-serif;
$font_size: 0.9rem;
$font_line-hight: 1.2rem;
