// Body 
$color-bg: #f5f8fa
$color-blue: #4D7C9A
$color-yellow: #F7E066
 
// Typography 
$font-default: 'Source Sans Pro', sans-serif
$font_size: 0.9rem
$font_line-hight: 1.2rem

$border-rad: 6px

//background:// 
$bg-stripes_main: repeating-linear-gradient(45deg,  $color-blue,  $color-blue 10px,  lighten($color-blue,10%) 10px,  lighten($color-blue,10%) 20px)

$bg-stripes_alt: repeating-linear-gradient(-45deg,  darken($color-yellow,10%) ,  darken($color-yellow,10) 10px,  lighten($color-yellow,10%) 10px,  lighten($color-yellow,10%) 20px)